<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Website</title>
	<link rel="stylesheet" href="../assets/style.css">
</head>
<body>
	<% include ../public/nav.ejs %>
	<h1>联系我们</h1>
	<p>Tel: 123-4567-7890</p>
</body>
</html>